# Ignorar entorno virtual
AMvenv/

# Ignorar base de datos SQLite
sistema_medico.db
db.sqlite3

# Archivos de configuración de entorno
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de logs
*.log
